@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,700,800,italic);

.MyInput {
  font-family: Montserrat;
  border-radius: 17px;
  border: 3px solid purple;
  padding: 7px 25px;
  font-size: 16px;
  width: 100%;
  background-color: rgba(255, 153, 238, 0.219);
  position: relative;
  caret-color: rgb(0, 136, 248);
  &:focus {
    outline: 2px ridge rgba(170, 50, 220, 0.6);
  }
  &::placeholder {
    color: grey;
  }
}
