.search__img {
  position: absolute;
  left: 9px;
  top: 10px;
}
.search {
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 40vw;
  position: relative;
  & form {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  & button {
    font-size: inherit;
    height: 100%;
  }
}
