@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,700,800,italic);

.radioLabel {
  cursor: pointer;
}

.radioInput {
  visibility: hidden;
  &:checked + span {
    border: 2px solid purple;
  }
  &:checked + span::after {
    opacity: 1;
  }
}
.customRadio {
  left: -8px;
  top: 3.5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  &::after {
    content: '';
    width: 13px;
    height: 13px;
    background: purple;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
  }
}
